<%= simple_form_for [@card, @opinion] do |f| %>
  <%= f.error_notification %>

<%= f.input :rate, collection: -2..2, prompt: "Nb of stars", selected: 3 %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
