<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('elysee.jpg') %>'); background-position: center;  height: 100vh;">
  <div class="banner-content flexbox">
    <div class="landing-banner-content" style="margin-top: 3em;">
        <h1 class="home-title">1 élection, 11 programmes </h1>
        <!--  <div class="landing-banner-title">
          <div id="first-group">
            <h3 id="first-group">Découvre le ici  </h3>
          </div>
         <<div id="second-group">
            <h3 id="word-roll" class="second-group">un footing !</h3>
          </div> -->
    </div>
    <div class="call-to-action" style="margin-top: -12em;">
      <%= link_to "DECOUVREZ VOTRE CANDIDAT ICI", new_card_opinion_path(card_id: rand(6..117)), {class: "activity-btn activity-btn-medium activity-btn-lg", style: "border-radius : 2px"} %>
    </div>
    </div>
  </div>
</div>

 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="margin-top: 3em; width: 57em; height: 36em;">
                  <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                    <br>
                    <h1 class="text-center">Qui sommes nous ?</h1>
                    <br>
                    <br>
                      <h5 style="font-size: 17px;"" class="text-justify" >Mon Politique est né du triste constat qu’une part de plus en plus importante   de la population se désintéresse des élections et du débat public.
                      <br>
                      <br>
                      <br>
                      Pourtant, chacun est appelé, comme dans l’agora antique, à y participer. Mais les programmes souvent indigestes et les querelles politiques étouffantes découragent et désincitent à s’engager.
                      <br>
                      <br>
                      Nous avons donc décidé de créer un outil démocratique ayant pour vocation de réconcilier les citoyens avec leur droit de vote et la vie politique. Ainsi, à travers ce site internet, nous proposons à chaque utilisateur l’opportunité de découvrir de manière ludique mais sérieuse l’ensemble des programmes des candidats à l’élection présidentielle.
                      <br>
                      <br>
                      Le principe est simple : évaluez une à une les propositions qui défilent devant votre écran pour discerner quel candidat vous correspond le mieux. A tout moment vous pourrez accéder à votre compte pour découvrir quel candidat se cache derrière les propositions que vous avez le plus appréciées.
                      <br>
                      <br>
                      <br>
                      N’oubliez pas : plus vous évaluerez de mesures, plus votre profil politique s’affinera !</h5>
                    </div>
                </div>
              </div>
            </div>
