<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('elysee.jpg') %>'); background-position: center;  height: 100vh;">
  <div class="banner-content flexbox">
    <div class="landing-banner-content" style="margin-top: 3em;">
        <h1 class="home-title">Tu hésites encore pour qui voter ? </h1>
        <!--  <div class="landing-banner-title">
          <div id="first-group">
            <h3 id="first-group">Découvre le ici  </h3>
          </div>
         <<div id="second-group">
            <h3 id="word-roll" class="second-group">un footing !</h3>
          </div> -->
    </div>
    <div class="call-to-action" style="margin-top: -12em;">
      <%= link_to "DECOUVRE LE ICI", new_card_opinion_path(card_id: rand(1..10)), {class: "activity-btn activity-btn-medium activity-btn-lg", style: "border-radius : 2px"} %>
    </div>
    </div>
  </div>
</div>
